.estatistica {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.valor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-radius: 90px;
  font-size: 2.5rem;
}

.texto {
  font-weight: 200;
  color: #ddd;
  font-size: 1.7rem;
}